@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #faf9f6; */
  background-color: #e6e6e3;
}

.ais-SearchBox-input {
  max-width: none;
  width: 50%;
  padding: 15px;
  margin: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
  font-size: large;
}

.ais-SearchBox-submitIcon {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}

#search-container {
  text-align: center;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-left: 3rem;
}

@media only screen and (max-width: 700px) {
  .ais-Hits-list {
    display: block;
    margin-left: 3rem;
  }
}

.ais-Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  text-align: center;
}

.ais-Pagination-list {
  display: flex;
  padding: 1rem;
}

.ais-Pagination-item {
  padding: 1rem;
  cursor: pointer;
  background-color: white;
  box-shadow: gray;
  border-radius: 10px;
  width: 60px;
  margin: 10px;
}

.ais-Pagination-item:hover {
  background-color: blue;
  color: white;
}

.ais-Pagination-item--nextPage,
.ais-Pagination-item--lastPage,
.ais-Pagination-item--firstPage,
.ais-Pagination-item--previousPage {
  border: none;
  color: blue;
  background-color: unset;
}
