@tailwind base;
@tailwind components;
@tailwind utilities;

/* body { */
/* background-color: #faf9f6; */
/* background-color: #e6e6e3; */
/* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */

/* background-image: url('https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
/* } */

/* .MuiDayPicker-monthContainer {
  width: 95% !important;
  max-height: 350px !important;
  height: 470px !important;
} */

/* .MuiCalendarPicker-root {
  width: 70% !important;
  max-height: 600px !important;
  height: 470px !important;
} */

/* .MuiCalendarPicker-viewTransitionContainer,
.css-sf5t6v-PrivatePickersSlideTransition-root-MuiDayPicker-slideTransition {
  min-height: 350px !important;
  height: auto !important;
} */

/* .MuiTypography-caption {
  color: blue !important;
} */

/* .css-qklzlb-MuiDayPicker-header,
.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
  height: 70px !important;
  width: 460px !important;
  color: blue !important;
  font-weight: bold !important;
} */

@media screen and (min-width: 200px) {
  #avatar {
    width: 113px;
  }
}

@media screen and (min-width: 362px) {
  #avatar {
    width: 265px;
  }
}

@media screen and (min-width: 540px) {
  #avatar {
    width: 113px;
  }
}

@media screen and (min-width: 600px) {
  #avatar {
    width: 113px;
  }
}

@media screen and (min-width: 778px) {
  #avatar {
    width: 263px;
  }
}

@media screen and (min-width: 100px) {
  #settings {
    display: block;
  }
}

@media screen and (min-width: 540px) {
  #settings {
    display: flex;
  }
}

/*Media query for the last check in status on user dashboard*/

@media screen and (min-width: 288px) {
  #last-checkin {
    width: 220px;
  }
}

@media screen and (min-width: 310px) {
  #last-checkin {
    width: 230px;
  }
}

@media screen and (min-width: 330px) {
  #last-checkin {
    width: 260px;
  }
}

@media screen and (min-width: 360px) {
  #last-checkin {
    width: 290px;
  }
}

#dark #forgot {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#light #signup-password {
  color: black;
}

#dark #signup-password {
  color: white;
}

#light .goal {
  color: black;
}

#dark .goal {
  color: white;
}

#light #signup-goals {
  color: black;
}

#dark #signup-goals {
  color: white;
}

#light #signup-intro {
  color: black;
}

#dark #signup-intro {
  color: white;
}

#light #fp-text {
  color: black;
}

#dark #fp-text {
  color: white;
}

#light #forgot-password-form {
  background-color: white;
}

#dark #forgot-password-form {
  background-color: #282c35;
}

#light #login-form {
  background-color: white;
}

#dark #login-form {
  background-color: #282c35;
}

#light #signup {
  background-color: white;
}

#dark #signup {
  background-color: #282c35;
}

@media screen and (min-width: 250px) {
  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 2300px;
  }
  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 2300px;
  }
}

@media screen and (min-width: 300px) {
  #light {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 950px;
  }

  #dark {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 950px;
  }

  #light #checkin {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1720px;
  }
  #dark #checkin {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1720px;
  }

  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1870px;
  }
  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1870px;
  }
}

@media screen and (min-width: 650px) {
  #light {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1050px;
  }

  #dark {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1050px;
  }

  #light #checkin {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1720px;
  }
  #dark #checkin {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1720px;
  }

  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1720px;
  }
  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1720px;
  }
}

@media screen and (min-width: 715px) {
  #light {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1050px;
  }

  #dark {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1050px;
  }

  #light #checkin {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1760px;
  }
  #dark #checkin {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1760px;
  }

  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1720px;
  }
  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1720px;
  }
}

@media screen and (min-width: 800px) {
  #light {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 850px;
  }

  #dark {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 850px;
  }

  #light #checkin {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1060px;
  }
  #dark #checkin {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1060px;
  }

  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1120px;
  }
  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1120px;
  }
}

@media screen and (min-width: 930px) {
  #light {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 840px;
  }

  #dark {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 840px;
  }

  #light #checkin {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1060px;
  }
  #dark #checkin {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1060px;
  }

  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1060px;
  }
  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1060px;
  }
}

@media screen and (min-width: 1025px) {
  #light {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 840px;
  }

  #light #checkin {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1060px;
  }

  #light #search {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1060px;
  }

  #dark {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 840px;
  }

  #dark #checkin {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1060px;
  }

  #dark #search {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1060px;
  }
}

@media screen and (min-width: 300px) {
  #light #dash {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1850px;
  }

  #dark #dash {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1850px;
  }
}

@media screen and (min-width: 650px) {
  #light #dash {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1850px;
  }

  #dark #dash {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1850px;
  }
}

@media screen and (min-width: 715px) {
  #light #dash {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1850px;
  }

  #dark #dash {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1850px;
  }
}

@media screen and (min-width: 930px) {
  #light #dash {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 2000px;
  }

  #dark #dash {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 2000px;
  }
}

@media screen and (min-width: 1025px) {
  #light #dash {
    /* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    background-color: #e5e4e2;

    height: 1000px;
  }

  #dark #dash {
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    height: 1000px;
  }
}

/* #light {
  background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  
  height: 1900px;
}

#dark {
  background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  height: 1900px;
} */

@media screen and (min-width: 300px) {
  #daygrade {
    font-size: 14px;
    margin-left: 0;
  }
}

@media screen and (min-width: 400px) {
  #daygrade {
    font-size: 13px;
  }
}

@media screen and (min-width: 455px) {
  #daygrade {
    font-size: 20px;
  }
}

@media screen and (min-width: 700px) {
  #daygrade {
    font-size: 30px;
  }
}

@media screen and (min-width: 765px) {
  #daygrade {
    font-size: 25px;
  }
}

@media screen and (min-width: 845px) {
  #daygrade {
    font-size: 35px;
  }
}

@media screen and (min-width: 600px) {
  #todo-search {
    width: 220px;
  }
}

@media screen and (min-width: 670px) {
  #todo-search {
    width: 280px;
  }
}

@media screen and (min-width: 780px) {
  #todo-search {
    width: 320px;
  }
}

@media screen and (min-width: 1000px) {
  #todo-search {
    width: 280px;
  }
}

@media screen and (min-width: 1025px) {
  #todo-search {
    width: 100px;
  }
}

@media screen and (min-width: 1160px) {
  #todo-search {
    width: 140px;
  }
}

@media screen and (min-width: 1330px) {
  #todo-search {
    width: 210px;
  }
}

#light #empty {
  color: grey;
}

#dark #empty {
  color: black;
}

#light #latest {
  background-color: #c7c6c1;
}

#dark #latest {
  background-color: #c7c6c1;
}

#light #current-streak {
  color: #48494b;
}

#dark #current-streak {
  color: #48494b;
}

#light #bottom-activity {
  background-color: #f8f8ff;
}

#dark #bottom-activity {
  background-color: #808080;
}

#light #checked-activity {
  background-color: #f5f5f5;
}

#dark #checked-activity {
  background-color: #97978f;
}

#light #top-activity {
  background-color: #f8f8ff;
}

#dark #top-activity {
  background-color: #808080;
}

#dark #top-activity {
  background-color: #808080;
}

#dark #log1 {
  background-color: #2e2252;
  color: white;
}

#dark #log2 {
  background-color: #2e2252;
  color: white;
}

#light #log1 {
  background-image: linear-gradient(
    to right,
    #087ee1,
    #009ff2,
    #00bbed,
    #00d3d7,
    #05e8ba
  );
  background-image: linear-gradient(
    to right,
    #68aee8,
    #1bbff1,
    #00cfec,
    #00ddd9,
    #05e8ba
  );
  color: black;
}

#light #log2 {
  background-image: linear-gradient(
    to right,
    #087ee1,
    #009ff2,
    #00bbed,
    #00d3d7,
    #05e8ba
  );
  background-image: linear-gradient(
    to right,
    #68aee8,
    #1bbff1,
    #00cfec,
    #00ddd9,
    #05e8ba
  );
  color: black;
}

#dark .MuiFormLabel-root {
  color: white;
}

#dark #reset-password {
  color: white;
}

#dark #setting-text {
  color: white;
}

#dark .MuiOutlinedInput-input {
  border: solid blueviolet 1px;
  border-radius: 10px;
}

#dark #user-account {
  background-color: #282c35;
}

#light #user-account {
  background-color: white;
}

#dark #calendar-dates {
  background-color: #282c35;
  /* color: white; */
}

/* #dark .MuiButtonBase-root {
  background-color: white;
} */

#light #calendar-background {
  background-color: white;
}

#dark #calendar-background {
  background-color: #282c35;
}

#light #log-text {
  color: black;
}

#dark #log-text {
  color: white;
}

#light #log {
  background-color: white;
}

#dark #log {
  background-color: #282c35;
}

#light #search-div {
  background-color: #f4f5f0;
  --tw-shadow-color: #6b7280;
  --tw-shadow: var(--tw-shadow-colored);
}

#dark #search-div {
  background-color: #282c35;
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
}

#light #log-div {
  background-color: #f4f5f0;
  --tw-shadow-color: #6b7280;
  --tw-shadow: var(--tw-shadow-colored);
}

#light #goal-div {
  background-color: #f4f5f0;
  --tw-shadow-color: #6b7280;
  --tw-shadow: var(--tw-shadow-colored);
}

#light #chart-div {
  background-color: #f4f5f0;
  --tw-shadow-color: #6b7280;
  --tw-shadow: var(--tw-shadow-colored);
}

#light #activity-div {
  background-color: #f4f5f0;
  --tw-shadow-color: #6b7280;
  --tw-shadow: var(--tw-shadow-colored);
}

#dark #log-div {
  background-color: #282c35;
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
}

#dark #goal-div {
  background-color: #282c35;
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
}

#dark #chart-div {
  background-color: #282c35;
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
}

#dark #activity-div {
  background-color: #282c35;
  --tw-shadow-color: #000;
  --tw-shadow: var(--tw-shadow-colored);
}

#dark #time-setter {
  background-color: #41024d;
  padding: 18px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
}

#dark .MuiInputBase-input {
  color: white;
}

#light #no-logs {
  color: black;
}

#dark #no-logs {
  color: white;
}

#light #logs {
  background-color: #f3f0e8;
}

#light #not-found {
  background-image: url('https://images.unsplash.com/photo-1535025075092-5a1cf795130b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');
  color: black;
}

#dark #not-found {
  background-image: url('https://images.unsplash.com/photo-1544365558-35aa4afcf11f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1036&q=80');
}

#dark #login {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#light #signin {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#dark #signin {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#dark #welcome {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#dark #credit {
  color: white;
}

#dark #home {
  color: white;
}

#light body {
  background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

#dark body {
  background-image: url('https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80');
}

#dark #num {
  color: white;
}

#dark #outlined-search {
  color: white;
}

#dark #dashboard-greeting {
  color: white;
}

#dark #no-logs {
  color: white;
}

#dark #date {
  color: white;
}

#dark #time {
  background-color: #666362;
  padding: 1rem;
  margin: 13px;
  border-radius: 20px;
}

#light #navbar {
  background-color: #f4f5f0;
}

#dark #navbar {
  background-color: #282c35;
}

.ais-SearchBox-input {
  max-width: none;
  width: 50%;
  padding: 15px;
  margin: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
  font-size: large;
}

.ais-SearchBox-submitIcon {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}

#search-container {
  text-align: center;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-left: 3rem;
}

@media only screen and (max-width: 700px) {
  .ais-Hits-list {
    display: block;
    margin-left: 3rem;
  }
}

.ais-Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  text-align: center;
}

.ais-Pagination-list {
  display: flex;
  padding: 1rem;
}

.ais-Pagination-item {
  padding: 1rem;
  cursor: pointer;
  background-color: white;
  box-shadow: gray;
  border-radius: 10px;
  width: 60px;
  margin: 10px;
}

.ais-Pagination-item:hover {
  background-color: blue;
  color: white;
}

.ais-Pagination-item--nextPage,
.ais-Pagination-item--lastPage,
.ais-Pagination-item--firstPage,
.ais-Pagination-item--previousPage {
  border: none;
  color: blue;
  background-color: unset;
}
