@tailwind base;
@tailwind components;
@tailwind utilities;

/* body { */
/* background-color: #faf9f6; */
/* background-color: #e6e6e3; */
/* background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
/* background-image: url('https://images.unsplash.com/photo-1533134486753-c833f0ed4866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
/* } */

#dark #log1 {
  background-color: #2e2252;
  color: white;
}

#dark #log2 {
  background-color: #2e2252;
  color: white;
}

#light #log1 {
  background-image: linear-gradient(
    to right,
    #087ee1,
    #009ff2,
    #00bbed,
    #00d3d7,
    #05e8ba
  );
  background-image: linear-gradient(
    to right,
    #68aee8,
    #1bbff1,
    #00cfec,
    #00ddd9,
    #05e8ba
  );
  color: black;
}

#light #log2 {
  background-image: linear-gradient(
    to right,
    #087ee1,
    #009ff2,
    #00bbed,
    #00d3d7,
    #05e8ba
  );
  background-image: linear-gradient(
    to right,
    #68aee8,
    #1bbff1,
    #00cfec,
    #00ddd9,
    #05e8ba
  );
  color: black;
}

#dark .MuiFormLabel-root {
  color: white;
}

#dark #reset-password {
  color: white;
}

#dark #setting-text {
  color: white;
}

#dark .MuiOutlinedInput-input {
  border: solid blueviolet 1px;
  border-radius: 10px;
}

#dark #user-account {
  background-color: #282c35;
}

#light #user-account {
  background-color: white;
}

#dark #calendar-dates {
  background-color: #282c35;
}

#light #calendar-background {
  background-color: white;
}

#dark #calendar-background {
  background-color: #282c35;
}

#light #log-text {
  color: black;
}

#dark #log-text {
  color: white;
}

#light #log {
  background-color: white;
}

#dark #log {
  background-color: #282c35;
}

#light #search-div {
  background-color: white;
}

#light #log-div {
  background-color: white;
}

#light #goal-div {
  background-color: white;
}

#light #chart-div {
  background-color: white;
}

#light #activity-div {
  background-color: white;
}

#dark #search-div {
  background-color: #282c35;
}

#dark #log-div {
  background-color: #282c35;
}

#dark #goal-div {
  background-color: #282c35;
}

#dark #chart-div {
  background-color: #282c35;
}

#dark #activity-div {
  background-color: #282c35;
}

#dark #time-setter {
  background-color: #41024d;
  padding: 18px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: white;
}

#dark .MuiInputBase-input {
  color: white;
}

#light #no-logs {
  color: black;
}

#dark #no-logs {
  color: white;
}

#light #not-found {
  background-image: url('https://images.unsplash.com/photo-1535025075092-5a1cf795130b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80');
  color: black;
}

#dark #not-found {
  background-image: url('https://images.unsplash.com/photo-1544365558-35aa4afcf11f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1036&q=80');
}

#dark #login {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#dark #signin {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#dark #welcome {
  background-image: url('https://images.unsplash.com/flagged/photo-1574512468809-d05a4fd197fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-blend-mode: darken;
}

#dark #credit {
  color: white;
}

#dark #home {
  color: white;
}

#light body {
  background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

#dark body {
  background-image: url('https://images.unsplash.com/photo-1547127796-06bb04e4b315?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80');
}

#navbar {
  background-color: white;
}

#dark #num {
  color: white;
}

#dark #outlined-search {
  color: white;
}

#dark #dashboard-greeting {
  color: white;
}

#dark #no-logs {
  color: white;
}

#dark #date {
  color: white;
}

#dark #time {
  background-color: #666362;
  padding: 1rem;
  margin: 13px;
  border-radius: 20px;
}

#light #navbar {
  background-color: white;
}

#dark #navbar {
  background-color: #282c35;
}

#light {
  background-image: url('https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

#dark {
  background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.ais-SearchBox-input {
  max-width: none;
  width: 50%;
  padding: 15px;
  margin: 2rem;
  margin-left: 2rem;
  border-radius: 10px;
  font-size: large;
}

.ais-SearchBox-submitIcon {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}

#search-container {
  text-align: center;
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-left: 3rem;
}

@media only screen and (max-width: 700px) {
  .ais-Hits-list {
    display: block;
    margin-left: 3rem;
  }
}

.ais-Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
  text-align: center;
}

.ais-Pagination-list {
  display: flex;
  padding: 1rem;
}

.ais-Pagination-item {
  padding: 1rem;
  cursor: pointer;
  background-color: white;
  box-shadow: gray;
  border-radius: 10px;
  width: 60px;
  margin: 10px;
}

.ais-Pagination-item:hover {
  background-color: blue;
  color: white;
}

.ais-Pagination-item--nextPage,
.ais-Pagination-item--lastPage,
.ais-Pagination-item--firstPage,
.ais-Pagination-item--previousPage {
  border: none;
  color: blue;
  background-color: unset;
}
